body {
  margin: 0;
  font-family: 'Courier New' , Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to left, #33ccff 0%, #ff33cc 100%);
}
button{
	cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
